<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workouttrainer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.workouttrainer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ExercisesActivity"></activity>
        <activity android:name="ActivityTwo"></activity>
        <activity android:name="ChouseEActionActivity"></activity>
        <activity android:name="Instructions"></activity>
        <activity android:name="BodyParts"></activity>
        <activity android:name="StartWorout"></activity>
        <activity android:name="VideoWorout"></activity>
    </application>

</manifest>
